<% layout('layout') -%>
<div class="container">
	<h2>About</h2>
    
    <p>NodeTest is just a little web app project for node.js experiments.<br />It is developed using Sublime Text 2 and sometimes Cloud9.</p>
    
    <p>NodeTest uses express with ejs and stylus.<br />It also uses mocha as test framework and Heroku and/or Nodejitsu as hosting platform.</p>
</div>