<% layout('layout') -%>
<div class="container">
	<h2>Experiments</h2>
    
    <ul>
        <li><a href="#">Instant messaging</a> (soon)</li>
        <li><a href="#">Todo list</a> (soon)</li>
        <li><a href="/threejs">Three.js lab</a></li>
    </ul>
</div>