<% layout('layout') -%>
<div class="container">
    <h2>Three.js</h2>
    <p>3D data visualisation experiments</p>

    <div id="surface"></div>
</div>

<% script('js/three.js') %>
<% script('js/Detector.js') %>
<% script('js/libs/stats.min.js') %>
<% script('js/Controls/TrackballControls.js') %>
<% script('js/three-script.js') %>