<% layout('layout') -%>
<div class="container">
    <h2>Todo</h2>
    <p>A simple todo list.</p>

    <form action="/todo/add" method="post" accept-charset="utf-8">
	  <input type="text" name="content" />
	</form>
</div>