<% layout('layout') -%>
<div class="container">
    <h2>Todo</h2>
    <p>A simple todo list.</p>

    <ul>
    <% todos.forEach( function( todo ){ %>
      <li><%= todo.content %></li>
    <% }); %>
    </ul>
    
    <form action="/todo/add" method="post" accept-charset="utf-8" class="form-inline">
        <input type="text" name="content" placeholder="Todo..." />
        <button type="submit" class="btn">Add</button>
    </form>
</div>